html, body {
    height: 100vh;
    margin: 0;
    padding: 0;
}

body {
    background-image: url('https://picsum.photos/800/600'); /*url('background.jpg');*/
    background-size: cover;
    background-position: center;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 0.5rem;
    font-size: 1rem;
    background-color: #fffa;
    color: black;
}

blockquote {
    background-color: #fffa;
    max-width: 80vw;
    border-radius: 1vmax;
    /* Every platform has its own cursive font, which makes it virtually impossible to have a consistent look without embedding a custom font. So let's just avoid Comic Sans on Windows. */
    font-family: "Brush Script MT", cursive;
    font-size: 3vmax;
    color: black;
}

blockquote p {
    margin: 2vmax;
}

blockquote cite {
    display: block;
    margin: 2vmax;
    font-size: 2vmax;
    text-align: right;
    color: #0007;
}