---
import '/styles/global.css'
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Quote of the Day</title>
		<script is:inline>
            async function init() {
					
				const t = Date.now();
				const res = await fetch('/api/quote');
				const data = await res.json();

				console.log(data);

				const quoteEl = document.getElementById('quote');
				const authorEl = document.getElementById('author');
				const footerEl = document.getElementById('footer');

				quoteEl.textContent = data.text;
				authorEl.textContent = `— ${data.author}`;
				footerEl.textContent = `Fetched quote in ${Date.now() - t} ms, time taken server side: ${data.elapsedServerTime} ms.`;
			}
			init();
        </script>
        
	</head>
	<body>
		<blockquote>
			<p id="quote">...</p>
			<cite id="author"></cite>
		</blockquote>
		<footer id="footer">
		</footer>
	</body>
</html>