---
import '/src/styles/global.css';
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="description" content="Just a simple quote of the day app made with Astro & Cloudflare Workers." />
		<meta name="keywords" content="quote of the day,cloudflare workers,astro,ssr" />
		<meta name="author" content="Arnaud Dagnelies" />

		<title>Quote of the Day</title>
		
		<link rel="preload" href="/api/quote" as="fetch" />
        <script defer>
            async function init() {
					
				const t = Date.now();
				const res = await fetch('/api/quote');
				console.log(`Time to fetch: ${Date.now() - t}`);
				const data = await res.json();
				const dt = Date.now() - t;

				console.log(data);

				const quoteEl = document.getElementById('quote');
				const authorEl = document.getElementById('author');
				const footerEl = document.getElementById('footer');

				quoteEl.textContent = data.text;
				authorEl.textContent = `— ${data.author}`;
				footerEl.textContent = `Fetched quote in ${dt} ms, time taken server side: ${data.elapsedServerTime} ms.`;
			}
			init();
        </script>
        
	</head>
	<body>
		<blockquote>
			<p id="quote">...</p>
			<cite id="author"></cite>
		</blockquote>
		<footer id="footer">
		</footer>
	</body>
</html>