<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Quote of the Day</title>
		<style>
			html, body {
				height: 100vh;
				margin: 0;
				padding: 0;
			}
			body {
				background-image: url('https://picsum.photos/800/600'); /*url('background.jpg');*/
				background-size: cover;
				background-position: center;
				
				display: flex;
				justify-content: center;
				align-items: center;
			}
			footer {
				position: fixed;
				bottom: 0;
				width: 100%;
				text-align: center;
				padding: 0.5rem;
				font-size: 1rem;
				background-color: #fffa;
				color: black;
			}
			blockquote {
				background-color: #fffa;
				max-width: 80vw;
				border-radius: 1vmax;

				font-family: 'Brush Script MT';
				font-size: 3vmax;
				color: black;
			}
			blockquote p {
				margin: 2vmax;
			}
			blockquote cite {
				display: block;
				margin: 2vmax;
				font-size: 2vmax;
				text-align: right;
				color: #0007;
			}
		</style>
        <script is:inline>
            async function init() {
					
				const t = Date.now();
				const res = await fetch('/api/quote');
				const data = await res.json();
				const dt = Date.now() - t;

				console.log(data);

				const quoteEl = document.getElementById('quote');
				const authorEl = document.getElementById('author');
				const footerEl = document.getElementById('footer');

				quoteEl.textContent = data.text;
				authorEl.textContent = `— ${data.author}`;
				footerEl.textContent = `Fetched quote in ${dt} ms, time taken server side: ${data.elapsedServerTime} ms.`;
			}
			init();
        </script>
        
	</head>
	<body>
		<blockquote>
			<p id="quote">He who quotes himself has a fool for a source.</p>
			<cite id="author">— Richard Steele</cite>
		</blockquote>
		<footer id="footer">
		</footer>
	</body>
</html>