---
import BaseLayout from "../layouts/BaseLayout.astro";

export const prerender = true; // Enables client-side rendering for this page
---
<BaseLayout>
	<blockquote>
		<p id="quote">...</p>
		<cite id="author"></cite>
	</blockquote>
	<footer id="footer"></footer>

	<script>
		async function init() {
			const t = Date.now();
			const res = await fetch("/api/quote");
			console.log(`Time to fetch: ${Date.now() - t}`);
			const data = await res.json();
			const dt = Date.now() - t;

			console.log(data);

			const quoteEl = document.getElementById("quote");
			const authorEl = document.getElementById("author");
			const footerEl = document.getElementById("footer");

			quoteEl.textContent = data.text;
			authorEl.textContent = `— ${data.author}`;
			footerEl.textContent = `Fetched quote in ${dt} ms, time taken server side: ${data.elapsedServerTime} ms.`;
		}
		init();
	</script>
</BaseLayout>
