---
import '/src/styles/global.css';
import * as quoteApi from './api/quote.js';

export const prerender = false; // Enables SSR for this page

// fetch a quote and insert it server side
const quote = await quoteApi.getQuote(Astro);
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Quote of the Day</title>
	</head>
	<body>
		<blockquote>
			<p id="quote">{quote.text}</p>
			<cite id="author">— {quote.author}</cite>
		</blockquote>
		<footer id="footer">
		</footer>
	</body>
</html>