---
import '/src/styles/theme.css';
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="description" content="Just a simple quote of the day app made with Astro & Cloudflare Workers." />
		<meta name="keywords" content="quote of the day,cloudflare workers,astro,ssr" />
		<meta name="author" content="Arnaud Dagnelies" />

		<title>Quote of the Day</title>    
	</head>
	<body>
		<slot></slot>
	</body>
</html>